/*	
*	Stylesheet 
*	Main
*
*/

@import "variables";

* {
  margin: 0;
  padding: 0;
  border: 0; 
}

/* Layout */

body {
	background-color: $bg_main;
	font-family: 'Open Sans', sans-serif;
}

nav {
	width: 100%;
	background: #0d0d0d;
	border-bottom: #1e2434 1px solid;
	> #vswr {
		height: 20px;
		width: auto;
		padding: 0.625em 0 0 5%;
		position: absolute;
	}
	> ul {
		width: 1000px;
		margin: 0 auto;

		> li {
			padding: 1em 0;
			margin: 0 2em;
			float: right;
			list-style: none;
			font-family: 'Open Sans', sans-serif;
			font-weight: 600;
			font-size: 0.725em;			
			text-align: center;
			text-transform: uppercase;
			color: $font_light;
		}
	}
}

section {
	&.greyed {
		background: $bg_lightgrey;
	}

	&.darkblued {
		background: $bg_darkblue;
		color: $font_light;
	}

	&.darkgreyed {
		background: $bg_darkgrey;		
		color: $font_light;
	}

	&.blacked {
		background: $bg_black;
		color: $font_light;
	}

	&.title {
		border-top: #262626 1px solid;
		border-bottom: #262626 1px solid;

		> h1 {
			width: 970px;
			margin: 0 auto;
			color: $font_light;
			font-size: 1.5em;
			font-weight: 800;
			text-transform: uppercase;
			padding: 25px 0 25px 30px;
			background: url('../images/icon.png') no-repeat left;

		}
	}
}

article {
	width: 1000px;
	margin: 0 auto;
	padding: 75px 0;

	> h1 {
		font-size: 5.75em;
		font-weight: 800;
		text-rendering: optimizeLegibility;
	}

	> p {
		font-size: 1.125em;
		font-weight: 400;
	}

	&.nopadding {
		padding: 25px 0;
	}

	&#splash {
		width: 1200px;
		height: 300px;
		background: url('../images/splash.jpg') #0b0e17 no-repeat;

		.splash_right {
			width: 350px;
			margin-right: 200px;
			float: right;
			text-transform: uppercase;
			color: $font_light;
			text-shadow: #202016 4px 4px 5px;

			> h1 {
				font-weight: 800;
				font-size: 7.225em;
				color: $font_highlight;
				margin: 0 0 25px -8px;
				line-height: 0.85em;
			}

			> h2 {
				font-weight: 800;
				font-size: 1.5em;
				&.b {
					font-size: 2em;
					line-height: 0.95em;
				}
			}

			> p {
				font-weight: 400;
				font-size: 1.025em;
				text-transform: none;
			}
		}
	}

	.columned {
		width: 250px;
		float: left;
		margin: 0 40px;
		> .button {
			font-size: 1.15em;
			text-transform: uppercase;
			font-weight: 600;
			width: 250px;
			background: url('../images/chevron.png') no-repeat 10% $bg_blue;
			box-shadow: 1px 1px 0px #4A536D;
			text-align: center;
			padding: 5px 0;
			&:hover {
				background-color: #4A536D;
			}
		}

		img {
			margin: 20px 0;
			border-bottom: 5px solid $font_light;
			border-top: 5px solid $font_light;
		}

		p {
			font-size: 0.855em;
			text-align: justify;
		}
	}
}

footer {
	width: 100%;
	height: 225px;
	background: $bg_darkblue;
}

/* Clearfix */
/* For modern browsers */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table; 
}

.clearfix:after {
  clear: both; 
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
  zoom: 1; 
}