/* =Colors
-----------------------------------------------------------------------------*/
$main-dark: #0c0e12;
$main-light: #e1e3e6;
$main-gold: #f5c032;

/* =Typography
-----------------------------------------------------------------------------*/
$montserrat: 'Montserrat', Arial, sans-serif;