/*	
*	Stylesheet 
*	Variables
*
*/

$bg_main: #f0f0f0;
$bg_darkblue: #272c39;
$bg_darkgrey: #171717;
$bg_lightgrey: #dcdfe7;

/* Font colors */
$font_dark: #171717;
$font_light: #eaeaea;
$font_highlight: #bbbbbb;
$font_special: #cccccc;