!!! 5
%html
  %head
    %title= 'Vereinte Star Wars Rollenspiele'
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    / Remove before launch
    /%meta{'http-equiv' => 'refresh', :content => '1'}
    /
    %link(rel='shortcut icon' type='image/x-icon' href='/vswricon.ico')
    %link(rel='stylesheet' type='text/css' href='css/kube.css')
    %link(rel='stylesheet' type='text/css' href='css/main.css')
  %body#anmeldung
    %nav.units-container
      .units-row-end
        .unit-20#logo
          %img(src='images/logo.png')
        .unit-80#nav
          %ul
            %li='rollenspiel'
            %li='imperium'
            %li='interna'
            %li='kontakt'
            %li#anmelden='jetzt anmelden'

    %section.splash#anmeldung.units-container
      .units-row-end.units-split
        .unit-60#characters-welcome(style='margin-top:31px;')
        .unit-40
          %h4='deine geschichte'
          %h3='deine herkunft'
          %h2='dein name'
          %p
            Der Name ist das Fundament der eigenen Idnetität. Mancher trägt
            seinen Namen voller Stolz, andere zeigen sich wenig glücklich über
            die elterliche Wahl. Auch dein Charakter braucht einen Namen, mit
            ihm steht und fällt deine Idee.
          %form
            %input(type='text' value='Erster Schritt - Namen eingeben')
    %section.units-container
      .units-row
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
      .units-row
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
