!!! 5
%html
  %head
    %title= 'Vereinte Star Wars Rollenspiele'
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    / Remove before launch
    /%meta{'http-equiv' => 'refresh', :content => '1'}
    /
    %link(rel='shortcut icon' type='image/x-icon' href='/vswricon.ico')
    %link(rel='stylesheet' type='text/css' href='css/kube.css')
    %link(rel='stylesheet' type='text/css' href='css/main.css')
  %body#index
    %nav.units-container
      .units-row-end
        .unit-20#logo
          %a(href='index.html')
            %img(src='images/logo.png')
        .unit-80#nav
          %ul
            %li
              %a(href='rollenspiel.html')
                rollenspiel
            %li
              %a(href='imperium.html')
                imperium
            %li
              %a(href='interna.html')
                interna
            %li
              %a(href='kontakt.html')
                kontakt
            %li#anmelden
              %a(href='anmeldung.html')
                jetzt anmelden
    %section.splash#header
      %h2='Erlebe die'
      %h3='spannendste'
      %h4='aller Geschichten'
      %h5='Deine'
      %p
        Erfinde deinen eigenen Charakter, erlebe mit ihm sein Leben voller Glück, Pech und Spannung.
      %p
        Tritt den Vereinten Star Wars Rollenspielen bei – und
        schreibe mit uns die Geschichte der Galaxis.
    %section.units-container
      .units-row
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
      .units-row
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
