!!! 5
%html
  %head
    %title= 'Vereinte Star Wars Rollenspiele'
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    / Remove before launch
    /%meta{'http-equiv' => 'refresh', :content => '1'}
    /
    %link(rel='stylesheet' type='text/css' href='css/kube.css')
    %link(rel='stylesheet' type='text/css' href='css/main.css')
    %link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Montserrat:400,700')
  %body
    #index
      %nav.units-row
        .unit-30#logo
          %img(src='images/logo.png')
        .unit-70
          %ul
            %li='rollenspiel'
            %li='imperium'
            %li='interna'
            %li='kontakt'
            %li#anmelden='jetzt anmelden'
    %header
      %h2='Erlebe die'
      %h3='spannendste'
      %h4='aller Geschichten'
      %h5='Deine'
      %p
        Erfinde deinen eigenen Charakter, erlebe mit ihm Drama, Glück und
        Schicksal.
        %br
        Tritt den Vereinten Star Wars Rollenspielen bei – und
        schreibe mit uns die Geschichte der Galaxis.