!!! 5
%html
  %head
    %title= 'Vereinte Star Wars Rollenspiele'
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    / Remove before launch
    /%meta{'http-equiv' => 'refresh', :content => '1'}
    /
    %link(rel='stylesheet' type='text/css' href='css/main.css')
    %link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,700')
  %body
    %header
      %nav.clearfix
        %img#vswr(src='images/vswr.png')
        %ul
          %li='Kontakt'
          %li='Internes'
          %li='Imperium'
          %li='Rollenspiel'
    %section.darkblued
      %article#splash
        .splash_right
          %h2='Erzähle die spannendste'
          %h2.b='aller Geschichten'
          %h1='Deine'
          %p='Die Vereinten Star Wars Rollenspiele bieten Star Wars-Fans eine Gemeinschaft für Chat- und Forenrollenspiele. Erfinde deinen eigenen Charakter, erlebe Höhen und Tiefen, schreibe die Geschichte der Galaxis.'
    %section.blacked.title
      %h1='Direkt loslegen - die wichtigsten Links'
    %section.darkgreyed
      %article.nopadding.clearfix
        .columned
          .button='Aktive Einheiten'
          %img(src='images/units.png')
          %p='Die Einsatzgeschichte der spielbaren Einheiten, Details zum Spieltermin und Zugriff auf Personalakten der Charaktere. Alles auf einen Klick.'
        .columned
          .button='VSWR-Chronik'
          %img(src='images/chronik.png')
          %p='Der Schnellüberblick zu wichtigen Ereignissen der bereits erspielten und festgehaltenen Vergangenheit des VSWR-Universums.'
        .columned.nomargin
          .button='Anmeldung'
          %img(src='images/anmeldung.png')
          %p='Erstelle deinen eigenen Charakter im Star Wars Universum - mit unserem einfachen Anmeldebogen. Wichtige  Informationen helfen dir dabei.'
    %section.blacked.title
      %h1='Placeholder title'
    %section.darkgreyed
      %article
        %p='Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.'
    /%footer
    /  %p='Footer'