!!! 5
%html
  %head
    %title= 'Vereinte Star Wars Rollenspiele'
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    / Remove before launch
    /%meta{'http-equiv' => 'refresh', :content => '1'}
    /
    %link(rel='stylesheet' type='text/css' href='css/kube.css')
    %link(rel='stylesheet' type='text/css' href='css/main.css')
  %body#index
    .units-container
      %nav.units-row-end
        .unit-30#logo
          %img(src='images/logo.png')
        .unit-70#nav
          %ul
            %li='rollenspiel'
            %li='imperium'
            %li='interna'
            %li='kontakt'
            %li#anmelden='jetzt anmelden'
    %section.splash#header
      %h2='Erlebe die'
      %h3='spannendste'
      %h4='aller Geschichten'
      %h5='Deine'
      %p
        Erfinde deinen eigenen Charakter, erlebe mit ihm Drama, Glück und
        Schicksal.
        %br
        Tritt den Vereinten Star Wars Rollenspielen bei – und
        schreibe mit uns die Geschichte der Galaxis.
    %section.units-container
      .units-row
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
    %section.splash#anmeldung.units-container
      .units-row-end.units-split
        .unit-60#characters-welcome(style='margin-top:31px;')
        .unit-40
          %h2='dein name'
          %h3='deine herkunft'
          %h4='deine geschichte'
          %p
            Beginne dein eigenes Abenteuer jetzt mit dem ersten Schritt. Unser
            Erstellungsprozess hilft dir dabei mit interessanten Informationen
            und jeder Menge Details rund ums Star Wars Universum.
