!!! 5
%html
  %head
    %title= 'Vereinte Star Wars Rollenspiele'
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    / Remove before launch
    /%meta{'http-equiv' => 'refresh', :content => '1'}
    /
    %link(rel='stylesheet' type='text/css' href='css/main.css')
    %link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,700')
  %body
    %header
      %nav.clearfix
        %img#vswr(src='images/vswr.png')
        %ul
          %li='Kontakt'
          %li='Internes'
          %li='Imperium'
          %li='Rollenspiel'
    %section.darkblued
      %article#splash
        .splash_right
          %h2='Erzähle die spannendste'
          %h2.b='aller Geschichten'
          %h1='Deine'
          %p='Die Vereinten Star Wars Rollenspiele bieten Star Wars-Fans eine Gemeinschaft für Chat- und Forenrollenspiele. Erfinde deinen eigenen Charakter, erlebe Höhen und Tiefen, schreibe die Geschichte der Galaxis.'
    %section.blacked.title
      %h1='Neuigkeiten'
    %section.darkgreyed
      %article
        %p='Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.'
    /%footer
    /  %p='Footer'