!!! 5
%html
  %head
    %title= 'Vereinte Star Wars Rollenspiele'
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    / Remove before launch
    /%meta{'http-equiv' => 'refresh', :content => '1'}
    /
    %link(rel='shortcut icon' type='image/x-icon' href='/vswricon.ico')
    %link(rel='stylesheet' type='text/css' href='css/kube.css')
    %link(rel='stylesheet' type='text/css' href='css/main.css')
  %body#interna
    %nav.units-container
      .units-row-end
        .unit-20#logo
          %a(href='index.html')
            %img(src='images/logo.png')
        .unit-80#nav
          %ul
            %li
              %a(href='rollenspiel.html')
                rollenspiel
            %li
              %a(href='imperium.html')
                imperium
            %li.active
              %a(href='interna.html')
                interna
            %li
              %a(href='kontakt.html')
                kontakt
            %li#anmelden
              %a(href='anmeldung.html')
                jetzt anmelden
    %section.splash#header
      %h2='termine'
      %h3='personalakten'
      %h4='einheiten'
    %section.units-container
      .units-row
        .einheit.unit-40
          %img(src='images/g_blackwings.png')
          %h2='blackwing squadron'
          %p='Termin: '+ '<span>' + 'Dienstag - 20:30 Uhr' + '</span>'
          %p='Spielleiter: '+ '<span>' + 'Boldor' + '</span>'
          %p='Kommandant: '+ '<span>' + 'Flight Captain Buron (NPC)' + '</span>'
          %p='Spielraum: '+ '<span>' + '#vswr-piloten' + '</span>'
        .einheit.unit-60
          %p
            %table
              %tr
                %th(colspan='2')
                  Name
                %th='Funktion'
              %tr.npc
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Flight Captain Hayden Buron (NPC)'
                %td='Commanding Officer'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Flight Lieutenant Grep Heglestrum'
                %td='Executing Officer'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Flight Lieutenant Serenity Vail'
                %td='Combat Pilot'
              %tr.npc
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Flight Lieutenant Qello Oposs (NPC)'
                %td='Combat Pilot'
              %tr.npc
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Flight Lieutenant Wyat Tarl (NPC)'
                %td='Combat Pilot'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Flight Officer Kyra Nanders'
                %td='Combat Pilot'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Cadet Leader Seth Korne'
                %td='Combat Pilot'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Flight Cadet Jon Nyman'
                %td='Combat Pilot'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Flight Cadet Quinn Riley'
                %td='Combat Pilot'
      .units-row
        .unit-100.info
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      .units-row
        .einheit.unit-40
          %img(src='images/g_deathguards.png')
          %h2='deathguard platoon'
          %p='Termin: '+ '<span>' + 'Sonntag - 19:00 Uhr' + '</span>'
          %p='Spielleiter: '+ '<span>' + 'Boldor' + '</span>'
          %p='Kommandant: '+ '<span>' + 'Gunnery Sergeant Dustrunner' + '</span>'
          %p='Spielraum: '+ '<span>' + '#vswr-army' + '</span>'
        .einheit.unit-60
          %p
            %table
              %tr
                %th(colspan='2')
                  Name
                %th='Funktion'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Gunnery Sergeant Mandrel Dustrunner'
                %td='Squad Leader'
              %tr.npc
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Corporal Jocelyn Enab (NPC)'
                %td='Second in Command'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Lance Corporal Ceras Mawn'
                %td='Combat Medic'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Lance Corporal Aesh Kidress'
                %td='Designated Marksman'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Lance Corporal Handon Jux'
                %td='Demolition Specialist'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Specialist Soryn Trammer'
                %td='Vehicle Specialist'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Private First Class Johnson Tucker'
                %td='Battle Communications'
              %tr.npc
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Recruit Memos (NPC)'
                %td='Rifleman'
              %tr.npc
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Recruit Parc (NPC)'
                %td='Rifleman'
      .units-row
        .unit-100.info
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      .units-row
        .einheit.unit-40
          %img(src='images/g_talons.png')
          %h2='black talon mercenaries'
          %p='Termin: '+ '<span>' + 'Dienstag - 20:30 Uhr' + '</span>'
          %p='Spielleiter: '+ '<span>' + 'Vonar Karn' + '</span>'
          %p='Kommandant: '+ '<span>' + 'Vonar Karn' + '</span>'
          %p='Spielraum: '+ '<span>' + '#vswr-mercs' + '</span>'
        .einheit.unit-60
          %p
            %table
              %tr
                %th(colspan='2')
                  Name
                %th='Funktion'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Flight Captain Hayden Buron'
                %td='Commanding Officer'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Flight Lieutenant Grep Heglestrum'
                %td='Executing Officer'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Flight Lieutenant Serenity Vail'
                %td='Combat Pilot'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Flight Lieutenant Qello Oposs'
                %td='Combat Pilot'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Flight Lieutenant Wyat Tarl'
                %td='Combat Pilot'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Flight Officer Kyra Nanders'
                %td='Combat Pilot'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Cadet Leader Seth Korne'
                %td='Combat Pilot'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Flight Cadet Jon Nyman'
                %td='Combat Pilot'
              %tr
                %td.akte
                  %a(href='http://www.google.com')
                    §
                %td='Flight Cadet Quinn Riley'
                %td='Combat Pilot'
      .units-row
        .unit-100.info
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
