!!! 5
%html
  %head
    %title= 'Vereinte Star Wars Rollenspiele'
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    / Remove before launch
    /%meta{'http-equiv' => 'refresh', :content => '1'}
    /
    %link(rel='shortcut icon' type='image/x-icon' href='/vswricon.ico')
    %link(rel='stylesheet' type='text/css' href='css/kube.css')
    %link(rel='stylesheet' type='text/css' href='css/main.css')
  %body#rollenspiel
    %nav.units-container
      .units-row-end
        .unit-20#logo
          %a(href='index.html')
            %img(src='images/logo.png')
        .unit-80#nav
          %ul
            %li.active
              %a(href='rollenspiel.html')
                rollenspiel
            %li
              %a(href='imperium.html')
                imperium
            %li
              %a(href='interna.html')
                interna
            %li
              %a(href='kontakt.html')
                kontakt
            %li#anmelden
              %a(href='anmeldung.html')
                jetzt anmelden
    %section.splash#anmeldung.units-container
      .units-row-end.units-split
        .unit-60#characters-welcome(style='margin-top:31px;')
        .unit-40
          %h2='Vor kurzer Zeit in'
          %h3='einer Galaxie'
          %h4='in deiner Nähe'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
            %br
            %br
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
    %section.units-container
      .units-row
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
      .units-row
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.
        .quicklink.unit-33
          %img(src='images/star.png')
          %h2='headline'
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum.

